langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-groq
langchain-google-genai
langchain-text-splitters
groq
chromadb
requests
bert-score
evaluate
pandas
python-dotenv
fastapi
uvicorn
jinja2
python-multipart
rouge_score
sentence-transformers
transformers
torch
gast
astunparse
