fastapi
uvicorn
python-dotenv
requests
groq
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
pandas
tabulate
huggingface_hub
pydantic
pydantic-settings
python-multipart
